@media only screen and (max-width: 1639px) {


    #presentation h2 {
        font-size: 2.6em;
        margin-top: 0.5em;
    }


    .animation-gallery-scroll {
        transform: translateX(3%);
       
    }

    .gallery-box{
        margin: 0 13em;
    }
    
    .animation-gallery-scroll img{
        height: 400px;
    }

    .about-us-flex::after {
width: 51%;
        height: 69%;

    }

    .about-us-flex::before {

        height: 69%;

    }



    #presentation h1 {
        font-size: 3.3em;
    }

    #presentation h3 {
        font-size: 1em;
    }

    #options div {
        font-size: 2em;
        display: flex;
    }

    #options a {

        color: black;
        padding: 0.7em 0;
        text-decoration: none;
        letter-spacing: 2px;
    }

    .menu {
        cursor: pointer;
        height: 55px;
        width: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5em 0;
    }

    #hero-text .hr {
        margin: 1em 0;
        height: 5px;
        border: 0;
        width: 450px;
        background-color: #fff;
    }

    .box div {
        margin: 0;
    }

    .box h2 {
        font-size: 1.2em;
    }

    .box p {
        font-size: 0.8em;
    }

    #hero-text h1 {
        font-size: 5em;
        margin-top: 0.5em;
    }

    #hero-text h2 {
        font-size: 2em;
    }

    #hero-text button {
        font-size: 1.3em;
    }

    #text-box-border {
        margin-top: 5.3em;
        height: 46em;
        width: 56em;
    }

    #hero-text {
        margin-right: -3em;
    }
}

@media only screen and (max-width: 1432px){
        .animation-gallery-scroll {
       
       
    }

    .gallery-box{
        margin: 0 13em;
    }
    
   
}
@media only screen and (max-width: 1249px) {
    
    
  
        .animation-gallery-scroll {
        transform: translateX(1%);
       
    }

    .gallery-box{
        margin: 0 12em;
    }
    
    .animation-gallery-scroll img{
        height: 350px;
    }
    
    
    #job-offers-animation {
        height: 36em;
    }

    .community {
        height: 36em;
    }

    .job {
        height: 36em;
    }

    .job .com-block {

        height: 36em;

    }

    .community .com-block {

        height: 36em;
    }

    .button-click {
        height: 2.5em;
        width: 2.5em;
    }

    .button-click:after {
        height: 3em;
        width: 3em;
    }

    .community h1,
    .job h1 {
        font-size: 1.8em !important;
    }

    .community h2,
    .job h2 {
        font-size: 1.15em !important;
    }

    .button-offers {
        font-size: 1em !important;
        margin-top: 1em;
    }


    #first-text:hover .button-click-blue::after {
        height: 2.3em;
        width: 2.3em;

    }

    #second-text:hover .button-click-green::after {
        height: 2.3em;
        width: 2.3em;

    }

    #third-text:hover .button-click-orange::after {
        height: 2.3em;
        width: 2.3em;

    }

    .about-us-text h1 {
        font-size: 3.5em;
    }

    .about-us-text h2 {
        font-size: 1.5em;
    }

    .about-us-text p {
        font-size: 1em;
    }



    #options a {
        color: black;
        padding: 0.5em 0;
        text-decoration: none;
        letter-spacing: 2px;
    }



    .left-panel {
        width: 100%;
    }

    #right-panel {
        display: none;
    }


    #hero-text {
        justify-content: center;
        align-items: center;
        z-index: 1;
        width: inherit;
    }

    #hero-text h1 {
        font-size: 4.4em;

        text-align: center;
    }

    #text-box-border {
        display: none;
    }

    #hero-text .hr {
        margin: 1em 0;
        height: 5px;
        border: 0;
        width: 450px;
        background-color: #fff;
    }


    #hero-text h2 {
        font-size: 2.3em;
    }

    #hero-text button {
        font-size: 1.4em;
    }

    .limits-text h1 {
        width: 7em;
    }


    .box div {
        margin: 0;
    }

    .box h2 {
        font-size: 1.2em;
    }

    .box p {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 1158px) {

    #presentation h2 {
        font-size: 2.5em;
    }

    #presentation h1 {
        font-size: 3.3em;
    }

    #presentation h3 {
        font-size: 1em;
    }

}


@media only screen and (max-width: 995px) {
    
    
    
        .animation-gallery-scroll {
        transform: translateX(1%);
       
    }

    .gallery-box{
        margin: 0 13em;
    }
    
    .animation-gallery-scroll img{
        height: 300px;
    }
    

    #presentation h2 {
        font-size: 2.2em;
    }

    #presentation h1 {
        font-size: 3.1em;
    }

    #presentation h3 {
        font-size: 1em;
    }


    .container-text {
        margin-right: auto;
        margin-left: auto;
        padding-right: 15rem;
        padding-left: 15rem;
    }



    .box {
        margin: 1.4em 0;
    }

    .social-media {
        display: none;
    }

    .box h2::after {
        display: none !important;
    }




    .responsive-boxes h2 {
        font-size: 3em;
        opacity: 0;
        color: black;

        transition: 0.75s;
        transform: translateY(-100px);
    }

    .responsive-boxes p {
        font-size: 1.35em;
        opacity: 0;
        width: 18em;
        color: black;
        transition: 0.85s;
        margin: 1.8em 0;

    }

    .responsive-boxes a {
        font-size: 1.4em;
        opacity: 0;
        transition: 0.85s;
        transform: translateY(-100px);
    }

    .box {
        height: auto;
        padding: 2em 0;
    }







    .box div {
        background-color:
            text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }




    .boxes {
        display: none !important;
    }

    .responsive-boxes {
        display: flex !important;
    }


    .left-panel {
        justify-content: center;
    }
}



@media only screen and (max-width: 922px) {


    #presentation h2 {
        font-size: 1.7em;
    }

    #presentation h1 {
        font-size: 2.6em;
    }

    #presentation h3 {
        font-size: 1em;
    }



    .image {
        height: 50vh !important;
    }


    #job-offers-animation {
        height: 30em;
    }

    .community {
        height: 30em;
    }

    .job {
        height: 30em;
    }

    .job .com-block {

        height: 30em;

    }

    .community .com-block {

        height: 30em;
    }

    .com-block h1 {
        font-size: 1.6em !important;
    }

    .com-block h2 {
        font-size: 1.1em !important;
        margin-bottom: 1.2em;
    }


    .container-text {

        padding-right: 10rem;
        padding-left: 10rem;
    }

}






@media only screen and (max-width: 804px) {

    .animation-gallery-scroll {
        transform: translateX(1%);
       
    }

    .gallery-box{
        margin: 0 13em;
    }
    
    .animation-gallery-scroll img{
        height: 250px;
    }

    .responsive-boxes h2 {
        font-size: 2.5em;
    }

    .responsive-boxes p {
        font-size: 1.25em;

    }

    .responsive-boxes a {
        font-size: 1.4em;

    }



    .com-block h2 {
        font-size: 1.1em !important;
        margin-bottom: 2em;
    }



    .slider-image {
        width: 21em;
    }


    .about-us-text h1 {
        font-size: 3em;
    }

    .about-us-text h2 {
        font-size: 1.1em;
    }

    .about-us-text p {
        font-size: 0.9em;
    }



    .container-text {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }


    #hamburger {
        justify-content: center;
    }

    #hamburger div {
        margin: 0.2em;
        width: 25px;
    }





    .navbar-image {
        display: none;
    }

    .boxes {
        margin-bottom: -34em;
    }


    #hero-text h1 {
        font-size: 3em !important;
    }

    #hero-text h2 {
        font-size: 1.9em !important;
    }
}

@media only screen and (max-width: 47.9em) {
    .image {
        display: none;
    }
}

@media only screen and (max-width: 672px) {

    
    
  
    
 
    #slider-start{
        display: none;
    }

    .about-us-text {
        align-items: center;
    }


    .slider-image-phone img {
        height: 17em;
        position: relative;
        z-index: 2;
    }

    .slider-image-phone {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 6em;
    }

    .slider-image-phone div {
        position: absolute;
        width: 100%;
        left: 0;
        height: 21em;
        padding: 1em 0;
        background-color: red;
    }




    #job-offers {
        flex-direction: column;
    }

    #job-offers-animation {
        height: 60em;
    }

    .about-us-text {
        margin: 3.5em 0;
    }

    .community {
        width: 100%;
    }

    .job {
        width: 100%;
    }

    #job-offers h1 {
        font-size: 2.7em !important;
    }

    #job-offers h2 {
        font-size: 1.5em !important;
        margin-bottom: 0;
    }

    #job-offers .button-offers {
        font-size: 1.6em !important;
    }

    .slider-image {
        display: none;
    }




    .about-us-text h1 {
        font-size: 4em;
    }

    .about-us-text h2 {
        font-size: 1.5em;
    }

    .about-us-text p {
        font-size: 1.3em;
    }



}

@media only screen and (max-width: 643px) {

    .container-text {

        padding-right: 0rem;
        padding-left: 0rem;
    }





    #hero-text .hr {
        margin: 1em 0;
        height: 5px;
        border: 0;
        width: 250px !important;
        background-color: #fff;
    }



    #hero-text {
        margin: 0 !important;
    }

    #presentation h3 {
        width: 80%;
    }


    #hero-text button {
        margin-top: 1.8em;
        font-size: 1.3em;
    }

    #hero {
        flex-direction: column;
    }



    #hero-text h1 {
        font-size: 2.6em !important;
    }

    #hero-text h2 {
        font-size: 1.5em !important;
    }

    .left-panel {
        justify-content: center;

    }
}

@media only screen and (max-width: 552px) {



    #hero h1 {
        font-size: 2.2em !important;

    }

    #hero h2 {
        font-size: 1.3em !important;

    }


    #job-offers h1 {
        font-size: 2em !important;
    }

    #job-offers h2 {
        font-size: 1em !important;
        margin-bottom: 0;
    }

    #job-offers .button-offers {
        font-size: 1.2em !important;
    }

}


@media only screen and (max-width: 461px) {
    #hero h2 {
        font-size: 1.1em !important;
    }
}

@media only screen and (max-width: 414px) {

    #presentation h1 {
        font-size: 2.3em;
    }

    #presentation span {
        font-size: 0.5em;
    }

    #presentation h3 {
        margin-top: 0.9em !important;
    }
}

@media only screen and (max-width: 414px) {




    #hero h1 {
        font-size: 1.9em !important;
    }

    #hero h2 {
        font-size: 1em !important;
    }


    #job-offers h1 {
        font-size: 1.8em !important;
    }

    #job-offers h2 {
        font-size: 1em !important;
        margin-bottom: 0;
    }

    #job-offers .button-offers {
        font-size: 1em !important;
    }


    .responsive-boxes h2 {
        font-size: 2.3em;
    }

    .responsive-boxes p {
        font-size: 1.27em;
    }

    .responsive-boxes a {
        font-size: 1.3em;
    }

    .box div {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .first-box {
        color: white;
        height: auto;
        padding: 5em;

    }



    .second-box {

        height: auto;
        padding: 4em;
        color: white;
    }

    .third-box {
        height: auto;
        padding: 4em;
    }

    .boxes {
        font-size: 1.3em;
        margin-bottom: -31.8em;

    }

    .about-us-text h1 {
        font-size: 3em;
    }

    .about-us-text h2 {
        font-size: 1.3em;
    }

    .about-us-text p {
        font-size: 1em;
    }


}

@media only screen and (max-width: 390px) {}



@media only screen and (max-width: 360px) {
    .present-text {
        margin-left: 2em;
    }


    #presentation h2 {
        font-size: 1.2em;
        margin:
            text-align: center;
    }

    #presentation h1 {
        font-size: 1.6em;
        text-align: center;
    }

    #presentation span {
        font-size: 0.5em;

    }

    #presentation h3 {
        font-size: 1em;

    }




    #job-offers h1 {
        font-size: 1.4em !important;
    }

    #job-offers h2 {
        font-size: 1em !important;
        margin: 3em 0;
    }

    #hero-text button {
        margin-top: 1.8em;
        font-size: 1.2em;
    }


    #options a {
        font-size: 0.7em;
    }


    .responsive-boxes h2 {
        font-size: 2em;
    }

    .responsive-boxes p {
        font-size: 1.23em;
    }

    .responsive-boxes a {
        font-size: 1.2em;
    }


    #hero-text h1 {
        font-size: 1.8em !important;
    }

    #hero-text h2 {
        font-size: 1em !important;
    }


}

@media only screen and (max-width: 322px) {




    #hero-text button {
        margin-top: 1.8em;
        font-size: 1.2em;
    }


    .responsive-boxes h2 {
        font-size: 2em;
    }

    .responsive-boxes p {
        font-size: 1.23em;
    }

    .responsive-boxes a {
        font-size: 1.2em;
    }


    #hero-text h1 {
        font-size: 1.6em !important;
    }

    #hero-text .hr {
        width: 200px !important;
        height: 3px;
    }

    #hero-text h2 {
        font-size: 0.8em !important;
    }


}
