/*
html {
    overflow-x: hidden;
    overflow-y: hidden;
}
*/
#overflow {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}


::-webkit-scrollbar {
    display: none;
}

.white-hamburger {}




body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.animation-gallery-scroll{
    display: flex;
   position: fixed;
   transform: translateX(7%);
}

.transition-box{
        transition: 0.7s;
     opacity: 0;
}
.gallery-box{
    margin: 0 10em;
}
.gallery-box img{
    height: 450px;
}

.slider-image {
    width: 0;
    transition: 0.8s;
    background-color: rgb(8, 133, 200);

}


#loading {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    transition: 1s;
}


.spinner {
    width: 170px;
    height: 170px;
    transition: 1s;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {

    0%,
    100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {

    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}






#job-offers {
 position: relative;
      z-index: 5;
    display: flex;
    color: white;
}

#job-offers .button-offers {
    font-size: 1.3em;
    padding: 0.8em 1.2em;
    border-radius: 40px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-100px);
}

#job-offers .button-offers:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

#job-offers h1 {
    opacity: 0;
    height: 2em;
    font-size: 2em;
    transition: 0.5s;
    transform: translateY(-100px);
}

#job-offers h2 {
    opacity: 0;
    font-size: 1.3em;
    height: 6em;
    width: 65%;
    transition: 0.5s;
    transform: translateY(-100px);
}




.com-block.com-block-hover {
    display: flex;
}

.com-block.com-block-hover:hover {
    background-color: rgba(0, 0, 0, 0.712);
    transition: 0.5s;
}





.community {
    height: 40em;
    background-image: url("../images/jobs/work.jpeg");
    background-position: center;
    background-size: cover;
    width: 50%;
}

.community .com-block {
    transition: 0.5s;
    background-color: black;
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.job .com-block {
    transition: 0.5s;
    background-color: black;
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.job {
    background-image: url("../images/jobs/programming.jpeg");
    background-position: center;
    background-size: cover;
    background-color: red;
    height: 40em;
    width: 50%;
}



#first-slide {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#first-slide h1 {
    position: relative;
    color: white;
    width: 10em;
    font-size: 6em;
}


#about-us {
    
    width: 100%;
    color: white;
    background-color: black;
}






.block-flex {
    display: flex;
    position: fixed;
    top: 0;
}


.block {
    height: 400px;
    width: 400px;
    background-color: red;
    margin: 0 10em;
}

.marker {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}





.about-us-flex {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}

.about-us-text {
    display: flex;
    flex-direction: column;
    margin: 10em 0;
    z-index: 2;
}

.about-us-flex::before{
   content: " ";
z-index: 1;
position: absolute;
    left: 0;
    height:67%;
    width: 9%;
    background-color: black;
}

.slider-image-phone{
    display: none;
}


.about-us-flex::after{
   content: " ";

position: absolute;
    right: 0;
     height:67%;
    width: 50%;
    background-color: black;
}


#first-text:hover .button-click-blue::after {
    border: 7px solid #023A68;
    height: 3em;
    width: 3em;
    transition: 0.4s;
}

#second-text:hover .button-click-green::after {
    border: 7px solid #2D7938;
    height: 3em;
    width: 3em;
    transition: 0.4s;
}


#third-text:hover .button-click-purple::after{
    border: 7px solid #3a1a56;
    height: 3em;
    width: 3em;
    transition: 0.4s; 
}

#fourth-text:hover .button-click-orange::after {
    border: 7px solid #99560A;
    height: 3em;
    width: 3em;
    transition: 0.4s;
}

.about-us-text h1 {
    font-size: 4em;
    padding: 0.5em 0;
    transition: 0.5s;
    transform: translateY(-100px);
    opacity: 0;
}

.about-us-text h2 {
    font-size: 2em;
    width: 13em;
    transition: 0.5s;
    transform: translateY(-100px);
    opacity: 0;
}

.about-us-text p {
    font-size: 1.3em;
    width: 16em;
    margin: 2em 0;
    transition: 0.5s;
    transform: translateY(-100px);
    opacity: 0;
}

.button-click {
    cursor: pointer;

    height: 3.2em;
    width: 3.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translateY(-100px);
    opacity: 0;
    transition: 0.5s;
}

#job-offers-animation {
    position: absolute;
    width: 100%;
    height: 40em;
    z-index: 4;
    right: 0;
    background-color: white;
    transition: 0.8s;
    transition-timing-function: ease-in;
}


.button-click::after {
    content: " ";
    height: 3.7em;
    position: absolute;

    width: 3.7em;
    border-radius: 100%;
}

.button-click img {
    height: 1.7em;
    transform: rotate(-180deg)
}

.button-click-blue {

    background-color: #0C62A8;
}

.button-click-purple {

    background-color: #6C23AA;
}

.button-click-purple::after {
    transition: 0.4s;
    border: 3px solid #5e2291;
}


.button-click-blue::after {
    transition: 0.4s;
    border: 3px solid #0C62A8;
}

.button-click-green {
    background-color: #49B75A;
}

.button-click-green::after {
    border: 3px solid #49B75A;
    transition: 0.4s;
}

.button-click-orange {
    background-color: #FF8C08;
}

.button-click-orange::after {
    border: 3px solid #FF8C08;
    transition: 0.4s;
}









#text-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}









#hamburger {
    height: 36px;
    width: 50px;
    cursor: pointer;
    transition: 0.6s;
    padding: 0.5em;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
}

#hamburger div {
    height: 2px;
    border-radius: 1em;
    background-color: #fff;
    width: 35px;
}





h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

#hero {
    transition: 1s;
    display: flex;
    height: 100vh;
    width: 100%;

    /*background-image: url("https://images.pexels.com/photos/163143/sackcloth-sackcloth-textured-laptop-ipad-163143.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    */
    background-image: url(" https://www.deepin.com.pl/wp-content/uploads/2018/05/Flower_in_Dark_by_Ameen_Fahmy.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: white;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.322);
    z-index: 2;
}



#hero-text .hr {
    margin: 1em 0;
    height: 5px;
    border: 0;
    width: 650px;
    background-color: #fff;

}

#hero-text h1 {
    font-size: 6em;
    width: 12em;
    text-align: right;
    margin-top: 2.1em;
    word-spacing: 0.08em;
    font-weight: bold;
    transform: translateY(-100px);
    transition: 0.7s;
    opacity: 0;
}

#hero-text h2 {
    margin: 0.5em 0;
    font-size: 3em;
    word-spacing: 0.2em;
    transform: translateY(-100px);
    transition: .7s;
    opacity: 0;
}

#hero-text button {

    cursor: pointer;
    border: 4px solid white;
    background-color: transparent;
    color: white;
    font-size: 1.6em;
    padding: 0.9em 2em;
    border-radius: 100px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.322);
    transform: translateY(-100px);
    opacity: 0;
    transition: 0.7s;
    margin-top: 1.3em;

}



#navbar-animate {

    margin-left: 4em;
}

#hero-text button:hover {
    background-color: white;
    transition: 0.2s;
    color: black;
}






.left-panel {
    width: 85%;
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navbar-section {
    opacity: 0;
    position: fixed;
    height: 100vh;
    width: 0%;
    transition: 0.5s;
    background-color: white;
    z-index: 50;
    display: none;
    align-items: center;
    justify-content: space-between;
}

#navbar-animate #options {
    display: flex;
    flex-direction: column;

}

#options div {
    font-size: 2.7em;
    display: flex;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

#options a {
    color: black;
    padding: 0.7em 0;
    text-decoration: none;
    letter-spacing: 2px;
}

#menu {
    cursor: pointer;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5em 0;
    transition: 0.9s;
}

#menu div {
    opacity: 0;
    height: 2px;
    width: 45px;
    background-color: black;
    position: absolute;
    transition: 0.5s;
}

#menu div:first-child {
    height: 2px;

    background-color: black;

}

#menu div:last-child {
    height: 2px;

    background-color: black;

}

.navbar-image {
    height: inherit;
    width: 30%;
    background-image: url("../images/navbar/plant.jpeg");
    background-size: cover;
}

#options a::after {
    content: " ";
    border: 1px solid black;
    background-color: black;
    display: flex;
    width: 0;
    opacity: 0;
    transition: 0.7s;
}

#options a:hover::after {
    width: 100%;
    opacity: 1;
    transition: 0.5s;
}



#right-panel {
    width: 15%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.47);
    display: flex;
    z-index: 1;
    opacity: 0;
    transition: 0.8s;
    align-items: flex-end;

}

#hr-text {
    transform: translateY(-100px);
    transition: 0.7s;
    opacity: 0;
}

#button-responsive {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 0;
    z-index: 10;
    margin-right: 0.4em;
}


.limits-text {
    position: relative;
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.limits-text h1 {
    transform: rotate(270deg);
    margin: 4.4em 0em;
}

.limits-text hr {
    border: 0;
    height: 125px;
    width: 5px;
    background-color: #fff;
}

.boxes {
    opacity: 0;
    transition: 1s;
    z-index: 2;
    display: flex;
    align-items: flex-end;
}

.social-media {
    position: absolute;
    display: flex;
    height: 100vh;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
}


.social-media img {

    height: 4%;
    padding: 2em;
    cursor: pointer;
}

.social-media .hr {
    margin-bottom: 1em;
    height: 17%;
    width: 3px;
    background-color: #fff;
}


.boxes .arrow {
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes img {
    height: 3em;
    transform: rotate(90deg);
}

.box {
    margin: 2em 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.box div {
    margin: 0 2em;
}

.box a {
    color: #4992B7;
    text-decoration: none;
    font-size: 01em;
}

.responsive-boxes {
    margin: 6em 0;
}




#presentation .image {
    height: 80vh;
    z-index: 2;

    width: 67%;
    background-image: url("https://images.pexels.com/photos/1437908/pexels-photo-1437908.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
}

.image-in {
    height: 100%;
    width: 100%;
    transition: 0.5s;
    background-color: white;
}

#presentation h2 {
    margin-bottom: 1em;
    font-size: 3.6em;
}

h2 .animation-text-slide {
    position: absolute;
    width: 1000px;

    height: 70px;
    transition: 1s;
    background-color: white;
}

h1 .animation-text-slide {
    position: absolute;
    width: auto;
    width: 1000px;
    height: 110px;
    transition: 1s;
    background-color: white;
}


#presentation h1 {
    margin: 0.5em 0;
    font-size: 4em;
    display: flex;

}


#presentation h3 {
    font-size: 1.3em;
    margin-bottom: 0.9em;
    opacity: 0;
    transition: 1s;
}

#presentation {
      position: relative;
    z-index: 5;
background-color: #fff;
 
}

#presentation .row{
    height: 100vh;
}

#presentation span {
    opacity: 0;
    z-index: 2;
    transition: 1s;
    font-size: 0.23em;
    width: 2em;
    margin-right: 1em;
    border-right: 1px solid black;
}


#presentation .a::after {
    content: " ";
    border: 1px solid black;
    background-color: black;
    display: flex;
    width: 0;
    opacity: 0;
    transition: 0.7s;
}

#presentation .a:hover::after {
    width: 100%;
    opacity: 1;
    transition: 0.5s;
}

.a {
    width: 8em;
}


#presentation a {
    width: 2em !important;
    color: black;
    font-size: 0.9em;
    text-decoration: none;
}
